<!-- workaround for font until theme is fixed -->
<style type="text/css">
/* symbols-2048-em-nerd-font-complete */
@font-face {
	font-family: Symbols Nerd Font;
	font-style: normal;
	font-weight: 400;
	src: local("Symbols Nerd Font Mono"), url(/symbols-nerd-font/symbols-nerd-font-mono.woff2) format("woff2");
  font-display: swap;
}
</style>
<!-- Matomo -->
<script type="text/javascript">
  var _paq = window._paq = window._paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//stats.villarreal.co.cr/";
    _paq.push(['setTrackerUrl', u+'matomo.php']);
    _paq.push(['setSiteId', '3']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<!-- End Matomo Code -->
<style type="text/css">
.footerColumns .notlist { font-size: .8em; margin-left: 0; }
.notlist li { display: inline-block; margin: 0; }
.notlist a { margin-right: 8px; }
footer:nth-child(2) > p:nth-child(4) { display: none; }
article > h1, article > h2, main > h1, main > h2 { margin-top: 0; }
header { margin-bottom: 0; }
h1 { font-size: 26px; }
hr { display: none; }
article img { margin: unset; }
#content { padding-top: 0; }
#main-nav li { border-right: 0 !important; }
#main-nav li a { padding: 0 !important; padding-right: 10px !important; font-weight: bold; }
@media (prefers-color-scheme: dark) {
  html { background-image: url(/bg.png); }
  body { background: rgba(0, 0, 0, 0.4); }
}
</style>
<link rel="stylesheet" type="text/css" href="/gist-theme.css" />